.SignIn{
    background-color: lightgreen;
    width: 33vw;
    min-width: 250px;
    margin: 50px auto;
    padding: auto 30px;
    border-radius: 10px;
    text-align: center;
}

h2{
    padding: 10px;
    margin: 0;
    border-bottom: solid green 1px;
}

.Input{
    margin-bottom: 10px;
    margin-top: 10px;
}

.Input>input{
    background: transparent;
    border:none;
    border-bottom: 1px solid green;
    position: relative;
}
.Input>label{
    position: absolute;
}

.Input>input:focus{
    outline: none;
}